.glass {
    background: #dfdfdf;
    border-radius: 16px;
    backdrop-filter: blur(7.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-width: 4px;
    border-color: #d2d6dc;
    /* Use the appropriate color for border-gray-50 */
    border-style: solid;
    flex-shrink: 0;
    height: 75%;
    width: 30%;
    border-radius: 1.5rem;
    /* Use the appropriate value for rounded-3xl */
    padding-top: 5rem;
    /* Use the appropriate value for py-20 */
    padding-right: 1.75rem;
    /* Use the appropriate value for px-7 */
    padding-bottom: 5rem;
    /* Use the appropriate value for py-20 */
    padding-left: 1.75rem;
    /* Use the appropriate value for px-7 */
    min-width: max-content;
}

.backArrow {
    position: fixed;
    top: 15px;
    left: 11%;
    cursor: pointer;
    font-size: 24px;
    color: #333;
    /* You can adjust the color as needed */
}

.profile_img {
    @apply border-4 border-gray-100 w-[145px] rounded-full shadow-lg cursor-pointer;
    @applyhover: border-gray-200;
}

.input {
    display: flex;
    align-items: center;
    margin: 20px auto;
    width: 85%;
    height: 80px;
    background-color: #cacaca;
    border-radius: 6px
}

.textbox {
    height: 50px;
    width: 90%;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px
}

.btn {
    transition: all .5s ease-in-out;
    @apply border bg-indigo-500 w-3/4 py-4 rounded-lg text-gray-50 text-xl shadow-sm text-center;
}

.btn:hover {
    background-color: #ff6a6a;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

input[type='file'] {
    display: none;
}

@media screen and (max-width: 800px) {
    .container {
        width: 100%;
    }

    .glass {
        width: 80%;
    }

    .input {
        width: 75%;
    }

    .textbox {
        width: 85%;
    }

    .btn {
        width: 50%
    }
}